<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.samcodes.amazonmobileanalytics">
	<!-- Required permissions for the SDK to function -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>